{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.searchField) }}
     <button type="submit" name="btnsearch">Rechercher</button>

        {{ form_row(form.searchField) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


       <h1> All articles from article's table : </h1>
    {%  for article in articles %}
    <div>
        <h2> {{  loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
        <P>{{  article.content }}</P>
    </div>
    {%  endfor %}

    <a href="{{ path('blog_index') }}">
        back to homepage.
    </a>

{% endblock %}