{% extends 'base.html.twig' %}

{% block title %}{{ slug }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div>
        <h1>Real article's title : {{ article.title }}</h1>
        <h2>Category : {{ article.category.name }}</h2>
        <P>{{ article.content }}</P>
    </div>

    <a href="{{ path('blog_index') }}">
       Back to homepage.
    </a>

{% endblock %}